.user__details {
  max-width: 500px;
  text-align: center;
  margin: 10px auto;
}
.user__avatar .user__avatar--img{
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-top: 30px;
}
.user__name, .user__bio, .user__email, .user__avatar{
  text-align: center;
}
.user__name{
  font-size: 38px;
  margin: 2px;
}
.user__name a{
  color: #318fe8;
  text-decoration: none;
  transition: all .3s;
}
.user__name a:hover{
  text-decoration: underline;
}
.user__email, .user__bio{
  color: #252525;
}
.user__email{
  margin: 5px 0 0 0;
}
.user__bio{
  padding: 0 5px;
}
#toggle__placeload:not(checked) ~ .user__panel--container{
  opacity: 0;
  visibility: hidden;
}
#toggle__placeload:checked ~ .user__panel--container{
  opacity: 1;
  visibility: visible;
}
#toggle__placeload, #toggle__placeload + label {
  text-align: center;
  font-size: 30px;
  margin: 20px 0 20px 0;
}
#toggle__placeload + label {
  transition: all .3s;
  color: #dddddd;
}
#toggle__placeload:checked + label{
  color: #318fe8;
}
#toggle__placeload:checked ~ .placeload__content{
  background-color: red;
  display: none;
}
