@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

*{
  box-sizing: border-box;
}

body, html, pre, code {
  margin: 0;
  padding: 0;
}
body, html {
  font-size: 110%;
  line-height: 140%;
  font-family: 'Lora', serif;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

header{
  text-align: center;
  margin: 0;
  padding: 26px;
  background: #f6f7f8;
  color: #FFF;
}

header .btn-download {
    float: right;
    margin-top: -32px;
    padding: 4px 12px;
    border: none;
    background: #8cd0d3;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    text-decoration: none;
    font-size: 0.8em;
    transition: all .3s;
}

header .btn-download:hover, header .btn-download:focus {
  background-color: #56bcc1;
}

header h1{
  margin: 0;
  font-weight: 300;
  color: #78909c;
}
header.nav-fix{
  background-color: rgba(246, 247, 248, 0.83);
  position: fixed;
  width: 100%;
  z-index:1;
}
header.nav-fix .github-corner{
  display: none;
}
header.nav-fix h1{
  font-size: 1.2em;
  text-align: left;
}
ul{
  margin: 0;
  list-style: none;
  padding: 0;
}

.placeload__draw img {
  height: 250px;
  transition: all .2s;
}

.content__panel{
  display: flex;
  clear: both;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content__panel, .content__apresentation{
  background-color: #78909C;
}

.content__panel .placellad__install{
  margin-top: -3px;
}
.content__panel .placeload__install h3{
  margin: 0;
  color: #FFF;
  margin-bottom: -13px;
}

.content__apresentation h2 {
  text-align: center;
  padding-top: 30px;
  color: #FFF;
  font-weight: 800;
  font-size: 2em;
  line-height: 100%;
  margin: 0 0 0px 0;
}
.content__documentation {
  margin-top: 40px;
}
.content__documentation .documentation__title{
  color: #6e6e6e;
  font-size: 2em;
  font-weight: 200;
  padding-left: 10px;
}
.content__documentation ul.summary{
  margin-left: 80px;
  list-style: none;
  margin-bottom: 100px;
}
.content__documentation ul.summary li a {
  color: #2377bf;
  text-decoration: none;
  border-bottom: 2px solid  #2377bf;
  line-height: 1.8em;
}
.content__documentation p {
  margin-left: 80px;
  margin-right: 80px;
  color: #95a5a6;
  font-weight: 400;
}
.content__documentation h3 {
  margin-left: 80px;
  margin-bottom: 0;
  color: #95a5a6;
  text-transform: uppercase;
}
.content__panel--examples{
  margin-left: 80px;
  margin-top: 20px;
}
.content__panel--examples.example03{
  margin-left: 0;
}

.content__panel--examples .example04__place, .content__panel--examples .example05__place, .example06__place{
  max-width: 500px;
}

.footer {
  background-color: #e1e1e1;
  padding: 20px;
}
.footer p{
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Raleway', sans;
}
.footer em {
  font-size: 2em;
  display: inline-block;
  line-height: 80%;
  vertical-align: middle;
  color: #e15050;
}
.footer p a{
  text-transform: none;
  text-decoration: none;
  color: #2377bf;
  font-size: 20px;
}
.footer p a:hover{
  text-decoration: underline;
}



@media(max-width: 900px){

  .placeload__draw img{
    height: 190px;
  }

}
@media(max-width: 680px){
  header .github-corner{
    display:  none;
  }
  .content__panel{
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
  }
  .content__apresentation{
    padding-top: 40px;
  }
  .content__panel .placeload__draw {
    display: none;
  }
  .content__documentation{
    margin-top: 60px;
  }
  .content__apresentation h2{
    padding-top: 0;
    font-size: 1.2em;
  }
  .content__documentation p, .content__documentation p, .content__documentation ul.summary, .content__documentation h3, .content__panel--examples {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  #header h1{
    font-size: 1em;
    text-align: left;
  }
}
